h1
{
padding-left:25px;
padding-bottom:15px;
}
body
{
background-color:#f0f4e9;
color:#5b8c6e;
font-family:Trebuchet MS;
}
ul
{
list-style:none;
}
li
{
padding-bottom:7px;
}
a:link,a:visited
{
color:#5b8c6e;
text-decoration:none;
}
.title
{
color:#c68fa1;
font-weight:bold;
font-size:1.2em;
padding-left:55px;
}
.text
{
padding-left:40px;
}
.nav
{
padding-left:40px;
padding-bottom:20px;
}